In [205]:
import pandas as pd
import numpy as np

In [206]:
try:
    beds_df=pd.read_csv('Data\의료기관_소재지_및_유형별__병실입원별_병상수_20230713212722_종.csv',encoding='cp949')
except:
    beds_df=pd.read_csv('Data/의료기관_소재지_및_유형별__병실입원별_병상수_20230713212722_종.csv',encoding='cp949')
beds_df.drop('유형별(1)',axis=1,inplace=True)
beds_df.drop('유형별(2)',axis=1,inplace=True)
beds_df = beds_df.drop(beds_df.index[0])
for i in beds_df['2015']:
    if i == '-':
        beds_df['2015'] = beds_df['2015'].replace('-',0)
        # print(i)
beds_df['2015.1']=beds_df['2015.1'].astype(int)
beds_df['2015']=beds_df['2015'].astype(int)
beds_df['2015']=beds_df['2015']+beds_df['2015.1']
beds_df.drop('2015.1',axis=1,inplace=True)
beds_df.reset_index(drop=True,inplace=True)

for i in range(len(beds_df.index)):
    if beds_df['시군구별(1)'][i] == '서울':
        beds_df.loc[i,'시군구별(1)'] = '서울특별시'
    elif beds_df['시군구별(1)'][i] == '부산':
        beds_df.loc[i,'시군구별(1)'] = '부산광역시'
    elif beds_df['시군구별(1)'][i] == '대구':
        beds_df.loc[i,'시군구별(1)'] = '대구광역시'
    elif beds_df['시군구별(1)'][i] == '인천':
        beds_df.loc[i,'시군구별(1)'] = '인천광역시'
    elif beds_df['시군구별(1)'][i] == '광주':
        beds_df.loc[i,'시군구별(1)'] = '광주광역시'
    elif beds_df['시군구별(1)'][i] == '대전':
        beds_df.loc[i,'시군구별(1)'] = '대전광역시'
    elif beds_df['시군구별(1)'][i] == '울산':
        beds_df.loc[i,'시군구별(1)'] = '울산광역시'
    elif beds_df['시군구별(1)'][i] == '세종':
        beds_df.loc[i,'시군구별(1)'] = '세종특별자치시'
    elif beds_df['시군구별(1)'][i] == '경기':
        beds_df.loc[i,'시군구별(1)'] = '경기도'
    elif beds_df['시군구별(1)'][i] == '강원':
        beds_df.loc[i,'시군구별(1)'] = '강원도'
    elif beds_df['시군구별(1)'][i] == '충북':
        beds_df.loc[i,'시군구별(1)'] = '충청북도'
    elif beds_df['시군구별(1)'][i] == '충남':
        beds_df.loc[i,'시군구별(1)'] = '충청남도'
    elif beds_df['시군구별(1)'][i] == '전북':
        beds_df.loc[i,'시군구별(1)'] = '전라북도'
    elif beds_df['시군구별(1)'][i] == '전남':
        beds_df.loc[i,'시군구별(1)'] = '전라남도'
    elif beds_df['시군구별(1)'][i] == '경북':
        beds_df.loc[i,'시군구별(1)'] = '경상북도'
    elif beds_df['시군구별(1)'][i] == '경남':
        beds_df.loc[i,'시군구별(1)'] = '경상남도'
    elif beds_df['시군구별(1)'][i] == '제주':
        beds_df.loc[i,'시군구별(1)'] = '제주특별자치도'



    if '구' in beds_df['시군구별(2)'][i][-1:]:
        if '시' in beds_df['시군구별(2)'][i]:
            beds_df.loc[i,'시군구별(2)']=beds_df.loc[i,'시군구별(2)'].split('시')[0]+'시'
    beds_df.loc[i, '시군구별(2)'] = beds_df.loc[i, '시군구별(1)'] + ' ' + beds_df.loc[i, '시군구별(2)']



# '시군구별(2)' 열로 행 그룹화
grouped = beds_df.groupby('시군구별(2)')

# 합산할 열과 첫 번째 값을 유지할 열 지정
aggregated = grouped.agg({'2015': 'sum', '시군구별(1)': 'first'})

# 집계된 데이터로 데이터프레임 업데이트
beds_df = aggregated.reset_index()

beds_df.drop('시군구별(1)',axis=1,inplace=True)
beds_df.columns = ['지역', '병상수']
beds_df

           지역   병상수
0     강원도 강릉시  1229
1     강원도 동해시   199
2     강원도 삼척시   107
3     강원도 속초시   349
4     강원도 영월군   199
..        ...   ...
142  충청북도 옥천군   173
143  충청북도 제천시   448
144  충청북도 진천군   219
145  충청북도 청주시  2523
146  충청북도 충주시   639

[147 rows x 2 columns]

In [207]:
def beds_count(location):
    population = int(beds_df.loc[beds_df['지역']
                     == location, '병상수'].iloc[0])
    return (population)


locate = '서울특별시 강남구'
beds_count(locate)

2731

In [208]:
try:
    hospital_df=pd.read_csv('Data\의료기관_소재지_및_유형별_의료기관수_20230713212631.csv',encoding='cp949')
except:
    hospital_df=pd.read_csv('Data/의료기관_소재지_및_유형별_의료기관수_20230713212631.csv',encoding='cp949')
hospital_df.drop('유형별',axis=1,inplace=True)
hospital_df.drop('병상수',axis=1,inplace=True)

hospital_df = hospital_df.drop(hospital_df.index[0])

hospital_df.reset_index(drop=True,inplace=True)

for i in range(len(hospital_df.index)):
    if hospital_df['시군구별'][i] == '소계':
        hospital_df.drop(i,inplace=True)
    
for i in range(len(hospital_df.index)):
    hospital_df.reset_index(drop=True,inplace=True)
    if hospital_df['행정구역별'][i] == '서울':
        hospital_df.loc[i,'행정구역별'] = '서울특별시'
    elif hospital_df['행정구역별'][i] == '부산':
        hospital_df.loc[i,'행정구역별'] = '부산광역시'
    elif hospital_df['행정구역별'][i] == '대구':
        hospital_df.loc[i,'행정구역별'] = '대구광역시'
    elif hospital_df['행정구역별'][i] == '인천':
        hospital_df.loc[i,'행정구역별'] = '인천광역시'
    elif hospital_df['행정구역별'][i] == '광주':
        hospital_df.loc[i,'행정구역별'] = '광주광역시'
    elif hospital_df['행정구역별'][i] == '대전':
        hospital_df.loc[i,'행정구역별'] = '대전광역시'
    elif hospital_df['행정구역별'][i] == '울산':
        hospital_df.loc[i,'행정구역별'] = '울산광역시'
    elif hospital_df['행정구역별'][i] == '세종':
        hospital_df.loc[i,'행정구역별'] = '세종특별자치시'
    elif hospital_df['행정구역별'][i] == '경기':
        hospital_df.loc[i,'행정구역별'] = '경기도'
    elif hospital_df['행정구역별'][i] == '강원':
        hospital_df.loc[i,'행정구역별'] = '강원도'
    elif hospital_df['행정구역별'][i] == '충북':
        hospital_df.loc[i,'행정구역별'] = '충청북도'
    elif hospital_df['행정구역별'][i] == '충남':
        hospital_df.loc[i,'행정구역별'] = '충청남도'
    elif hospital_df['행정구역별'][i] == '전북':
        hospital_df.loc[i,'행정구역별'] = '전라북도'
    elif hospital_df['행정구역별'][i] == '전남':
        hospital_df.loc[i,'행정구역별'] = '전라남도'
    elif hospital_df['행정구역별'][i] == '경북':
        hospital_df.loc[i,'행정구역별'] = '경상북도'
    elif hospital_df['행정구역별'][i] == '경남':
        hospital_df.loc[i,'행정구역별'] = '경상남도'
    elif hospital_df['행정구역별'][i] == '제주':
        hospital_df.loc[i,'행정구역별'] = '제주특별자치도'

    if '구' in hospital_df['시군구별'][i][-1:]:
        if '시' in hospital_df['시군구별'][i]:
            hospital_df.loc[i,'시군구별']=hospital_df.loc[i,'시군구별'].split('시')[0]+'시'
    hospital_df.loc[i, '시군구별'] = hospital_df.loc[i, '행정구역별'] + ' ' + hospital_df.loc[i, '시군구별']



# '시군구별' 열로 행 그룹화
grouped = hospital_df.groupby('시군구별')

# 합산할 열과 첫 번째 값을 유지할 열 지정
aggregated = grouped.agg({'기관수': 'sum', '행정구역별': 'first'})

# 집계된 데이터로 데이터프레임 업데이트
hospital_df = aggregated.reset_index()

hospital_df.drop('행정구역별',axis=1,inplace=True)
hospital_df.columns = ['지역', '종합병원수']
hospital_df

           지역  종합병원수
0     강원도 강릉시      4
1     강원도 동해시      1
2     강원도 삼척시      1
3     강원도 속초시      2
4     강원도 영월군      1
..        ...    ...
142  충청북도 옥천군      1
143  충청북도 제천시      2
144  충청북도 진천군      1
145  충청북도 청주시      6
146  충청북도 충주시      2

[147 rows x 2 columns]

In [209]:
def hospital(location):
    tmp = int(hospital_df.loc[hospital_df['지역']
                     == location, '종합병원수'].iloc[0])
    return (tmp)

locate = '서울특별시 강남구'
hospital(locate)

4

In [210]:
try:
    doctor_df = pd.read_csv("Data\보건의료기관_소재지_및_유형별__의사__간호사__약사수_20230713213342.csv", encoding='cp949')
except:
    doctor_df = pd.read_csv("Data/보건의료기관_소재지_및_유형별__의사__간호사__약사수_20230713213342.csv", encoding='cp949')
doctor_df.drop('유형별',axis=1,inplace=True)
doctor_df.drop('병상수',axis=1,inplace=True)

doctor_df = doctor_df.drop(doctor_df.index[0])

doctor_df.reset_index(drop=True,inplace=True)

for i in range(len(doctor_df.index)):
    if doctor_df['시군구별'][i] == '소계':
        doctor_df.drop(i,inplace=True)
    
for i in range(len(doctor_df.index)):
    doctor_df.reset_index(drop=True,inplace=True)
    if doctor_df['행정구역별'][i] == '서울':
        doctor_df.loc[i,'행정구역별'] = '서울특별시'
    elif doctor_df['행정구역별'][i] == '부산':
        doctor_df.loc[i,'행정구역별'] = '부산광역시'
    elif doctor_df['행정구역별'][i] == '대구':
        doctor_df.loc[i,'행정구역별'] = '대구광역시'
    elif doctor_df['행정구역별'][i] == '인천':
        doctor_df.loc[i,'행정구역별'] = '인천광역시'
    elif doctor_df['행정구역별'][i] == '광주':
        doctor_df.loc[i,'행정구역별'] = '광주광역시'
    elif doctor_df['행정구역별'][i] == '대전':
        doctor_df.loc[i,'행정구역별'] = '대전광역시'
    elif doctor_df['행정구역별'][i] == '울산':
        doctor_df.loc[i,'행정구역별'] = '울산광역시'
    elif doctor_df['행정구역별'][i] == '세종':
        doctor_df.loc[i,'행정구역별'] = '세종특별자치시'
    elif doctor_df['행정구역별'][i] == '경기':
        doctor_df.loc[i,'행정구역별'] = '경기도'
    elif doctor_df['행정구역별'][i] == '강원':
        doctor_df.loc[i,'행정구역별'] = '강원도'
    elif doctor_df['행정구역별'][i] == '충북':
        doctor_df.loc[i,'행정구역별'] = '충청북도'
    elif doctor_df['행정구역별'][i] == '충남':
        doctor_df.loc[i,'행정구역별'] = '충청남도'
    elif doctor_df['행정구역별'][i] == '전북':
        doctor_df.loc[i,'행정구역별'] = '전라북도'
    elif doctor_df['행정구역별'][i] == '전남':
        doctor_df.loc[i,'행정구역별'] = '전라남도'
    elif doctor_df['행정구역별'][i] == '경북':
        doctor_df.loc[i,'행정구역별'] = '경상북도'
    elif doctor_df['행정구역별'][i] == '경남':
        doctor_df.loc[i,'행정구역별'] = '경상남도'
    elif doctor_df['행정구역별'][i] == '제주':
        doctor_df.loc[i,'행정구역별'] = '제주특별자치도'

    if '구' in doctor_df['시군구별'][i][-1:]:
        if '시' in doctor_df['시군구별'][i]:
            doctor_df.loc[i,'시군구별']=doctor_df.loc[i,'시군구별'].split('시')[0]+'시'
    doctor_df.loc[i, '시군구별'] = doctor_df.loc[i, '행정구역별'] + ' ' + doctor_df.loc[i, '시군구별']



# '시군구별' 열로 행 그룹화
grouped = doctor_df.groupby('시군구별')

# 합산할 열과 첫 번째 값을 유지할 열 지정
aggregated = grouped.agg({'의사 인력수': 'sum', '행정구역별': 'first'})

# 집계된 데이터로 데이터프레임 업데이트
doctor_df = aggregated.reset_index()

doctor_df.drop('행정구역별',axis=1,inplace=True)
doctor_df.columns = ['지역', '의사']
doctor_df

           지역   의사
0     강원도 강릉시  248
1     강원도 동해시   23
2     강원도 삼척시   20
3     강원도 속초시   39
4     강원도 영월군   15
..        ...  ...
141  충청북도 옥천군   17
142  충청북도 제천시   40
143  충청북도 진천군   22
144  충청북도 청주시  598
145  충청북도 충주시  145

[146 rows x 2 columns]

In [211]:
def hospital(location):
    tmp = int(doctor_df.loc[doctor_df['지역']
                     == location, '의사'].iloc[0])
    return (tmp)


locate = '서울특별시 강남구'
hospital(locate)

1906

In [212]:

try:
    dead_df = pd.read_csv('Data\시군구_성_연령_5세_별_사망자수_1997___사망률_1998__20230714110101.csv', encoding='cp949')
except:
    dead_df = pd.read_csv('Data/시군구_성_연령_5세_별_사망자수_1997___사망률_1998__20230714110101.csv', encoding='cp949')

province_status = 0
counter = 0
for province in dead_df['시군구별']:
    status = 1
    if province == '서울특별시':
        province_status = 1
        status = 0
    elif province == '부산광역시':
        province_status = 2
        status = 0
    elif province == '대구광역시':
        province_status = 3
        status = 0
    elif province == '인천광역시':
        province_status = 4
        status = 0
    elif province == '광주광역시':
        province_status = 5
        status = 0
    elif province == '대전광역시':
        province_status = 6
        status = 0
    elif province == '울산광역시':
        province_status = 7
        status = 0
    elif province == '세종특별자치시':
        province_status = 8
        status = 0
    elif province == '경기도':
        province_status = 9
        status = 0
    elif province == '강원도':
        province_status = 10
        status = 0
    elif province == '충청북도':
        province_status = 11
        status = 0
    elif province == '충청남도':
        province_status = 12
        status = 0
    elif province == '전라북도':
        province_status = 13
        status = 0
    elif province == '전라남도':
        province_status = 14
        status = 0
    elif province == '경상북도':
        province_status = 15
        status = 0
    elif province == '경상남도':
        province_status = 16
        status = 0
    elif province == '제주도':
        province_status = 17
        status = 0
    elif province == '경북도':
        province_status = 18
        status = 0
    elif province == '경남도':
        province_status = 19
        status = 0
    elif province == '제주도':
        province_status = 20
        status = 0

    if province_status == 1 and status == 1:
        dead_df['시군구별'][counter] = '서울특별시 '+province
    elif province_status == 2 and status == 1:
        dead_df['시군구별'][counter] = '부산광역시 '+province
    elif province_status == 3 and status == 1:
        dead_df['시군구별'][counter] = '대구광역시 '+province
    elif province_status == 4 and status == 1:
        dead_df['시군구별'][counter] = '인천광역시 '+province
    elif province_status == 5 and status == 1:
        dead_df['시군구별'][counter] = '광주광역시 '+province
    elif province_status == 6 and status == 1:
        dead_df['시군구별'][counter] = '대전광역시 '+province
    elif province_status == 7 and status == 1:
        dead_df['시군구별'][counter] = '울산광역시 '+province
    elif province_status == 8 and status == 1:
        dead_df['시군구별'][counter] = '세종특별자치시 '+province
    elif province_status == 9 and status == 1:
        dead_df['시군구별'][counter] = '경기도 '+province
    elif province_status == 10 and status == 1:
        dead_df['시군구별'][counter] = '강원도 '+province
    elif province_status == 11 and status == 1:
        dead_df['시군구별'][counter] = '충청북도 '+province
    elif province_status == 12 and status == 1:
        dead_df['시군구별'][counter] = '충청남도 '+province
    elif province_status == 13 and status == 1:
        dead_df['시군구별'][counter] = '전라북도 '+province
    elif province_status == 14 and status == 1:
        dead_df['시군구별'][counter] = '전라남도 '+province
    elif province_status == 15 and status == 1:
        dead_df['시군구별'][counter] = '경상북도 '+province
    elif province_status == 16 and status == 1:
        dead_df['시군구별'][counter] = '경상남도 '+province
    elif province_status == 17 and status == 1:
        dead_df['시군구별'][counter] = '제주특별자치도 '+province
    elif province_status == 18 and status == 1:
        dead_df['시군구별'][counter] = '경북도 '+province
    elif province_status == 19 and status == 1:
        dead_df['시군구별'][counter] = '경남도 '+province
    elif province_status == 20 and status == 1:
        dead_df['시군구별'][counter] = '제주도 '+province
    # print(popdead_df['행정구역별(읍면동)'][counter])

    if '부' in dead_df['시군구별'][counter][-1:] or '국' in dead_df['시군구별'][counter][-1:] or ')' in dead_df['시군구별'][counter][-1:]:
            # print(popdead_df['행정구역별(읍면동)'][counter])
            dead_df['시군구별'][counter]=dead_df.drop(counter,inplace=True)
    elif '도' in dead_df['시군구별'][counter] and '서울특별시 도봉구' != dead_df['시군구별'][counter] and '부산광역시 영도구' != dead_df['시군구별'][counter]:
        if '구' in dead_df['시군구별'][counter][-1:]:
            # print(popdead_df['행정구역별(읍면동)'][counter])
            dead_df['시군구별'][counter]=dead_df.drop(counter,inplace=True)
    if status==0:
        # print(popdead_df['행정구역별(읍면동)'][counter])
        dead_df['시군구별'][counter]=dead_df.drop(counter,inplace=True)
    counter+=1
    # dead_df = dead_df.reset_index(drop=True)
    # print(counter)
# 두 번째 행 삭제
dead_df = dead_df.drop([0])
dead_df = dead_df.drop(['성별', '연령(5세)별','2015.1'], axis=1)   
dead_df = dead_df.reset_index(drop=True)
dead_df.rename(columns={'시군구별': '지역', '2015': '사망자 수'}, inplace=True)
dead_df = dead_df.replace('-', np.nan)
dead_df = dead_df.dropna()
dead_df.loc[dead_df['지역'] == '경상남도 통합창원시', '지역'] = '경상남도 창원시'
dead_df

               지역 사망자 수
0       서울특별시 종로구   829
1        서울특별시 중구   689
2       서울특별시 용산구  1113
3       서울특별시 성동구  1244
4       서울특별시 광진구  1472
..            ...   ...
239      경상남도 함양군   494
240      경상남도 거창군   670
241      경상남도 합천군   726
242   제주특별자치도 제주시  2264
243  제주특별자치도 서귀포시  1075

[229 rows x 2 columns]

In [213]:

try:
    popDf = pd.read_csv(r'Data\연령_및_성별_인구_–_읍면동_연도_끝자리_0_5___시군구_그_외_연도__20230713151501.csv', names=[
                    '행정구역별(읍면동)', '연령별', '총인구(명)'], encoding='cp949')
except :
    popDf = pd.read_csv(r'Data/연령_및_성별_인구_–_읍면동_연도_끝자리_0_5___시군구_그_외_연도__20230713151501.csv', names=[
                    '행정구역별(읍면동)', '연령별', '총인구(명)'], encoding='cp949')
province_status = 0
counter = 0
for province in popDf['행정구역별(읍면동)']:
    status = 1
    if province == '서울특별시':
        province_status = 1
        status = 0
    elif province == '부산광역시':
        province_status = 2
        status = 0
    elif province == '대구광역시':
        province_status = 3
        status = 0
    elif province == '인천광역시':
        province_status = 4
        status = 0
    elif province == '광주광역시':
        province_status = 5
        status = 0
    elif province == '대전광역시':
        province_status = 6
        status = 0
    elif province == '울산광역시':
        province_status = 7
        status = 0
    elif province == '세종특별자치시':
        province_status = 8
        status = 0
    elif province == '경기도':
        province_status = 9
        status = 0
    elif province == '강원도':
        province_status = 10
        status = 0
    elif province == '충청북도':
        province_status = 11
        status = 0
    elif province == '충청남도':
        province_status = 12
        status = 0
    elif province == '전라북도':
        province_status = 13
        status = 0
    elif province == '전라남도':
        province_status = 14
        status = 0
    elif province == '경상북도':
        province_status = 15
        status = 0
    elif province == '경상남도':
        province_status = 16
        status = 0
    elif province == '제주도':
        province_status = 17
        status = 0
    elif province == '경북도':
        province_status = 18
        status = 0
    elif province == '경남도':
        province_status = 19
        status = 0
    elif province == '제주특별자치도':
        province_status = 20
        status = 0

    if province_status == 1 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '서울특별시 '+province
    elif province_status == 2 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '부산광역시 '+province
    elif province_status == 3 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '대구광역시 '+province
    elif province_status == 4 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '인천광역시 '+province
    elif province_status == 5 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '광주광역시 '+province
    elif province_status == 6 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '대전광역시 '+province
    elif province_status == 7 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '울산광역시 '+province
    elif province_status == 8 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '세종특별자치시 '+province
    elif province_status == 9 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '경기도 '+province
    elif province_status == 10 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '강원도 '+province
    elif province_status == 11 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '충청북도 '+province
    elif province_status == 12 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '충청남도 '+province
    elif province_status == 13 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '전라북도 '+province
    elif province_status == 14 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '전라남도 '+province
    elif province_status == 15 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '경상북도 '+province
    elif province_status == 16 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '경상남도 '+province
    elif province_status == 17 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '제주도 '+province
    elif province_status == 18 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '경북도 '+province
    elif province_status == 19 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '경남도 '+province
    elif province_status == 20 and status == 1:
        popDf['행정구역별(읍면동)'][counter] = '제주특별자치도 '+province
    # print(popDf['행정구역별(읍면동)'][counter])

    if '부' in popDf['행정구역별(읍면동)'][counter][-1:] or '국' in popDf['행정구역별(읍면동)'][counter][-1:] or ')' in popDf['행정구역별(읍면동)'][counter][-1:]:
            # print(popDf['행정구역별(읍면동)'][counter])
            popDf['행정구역별(읍면동)'][counter]=popDf.drop(counter,inplace=True)
    elif '도' in popDf['행정구역별(읍면동)'][counter] and '서울특별시 도봉구' != popDf['행정구역별(읍면동)'][counter] and '부산광역시 영도구' != popDf['행정구역별(읍면동)'][counter]:
        if '구' in popDf['행정구역별(읍면동)'][counter][-1:]:
            # print(popDf['행정구역별(읍면동)'][counter])
            popDf['행정구역별(읍면동)'][counter]=popDf.drop(counter,inplace=True)
    if status==0:
        # print(popDf['행정구역별(읍면동)'][counter])
        popDf['행정구역별(읍면동)'][counter]=popDf.drop(counter,inplace=True)
    counter+=1



popDf.drop('연령별',axis=1,inplace=True)
popDf.reset_index(drop=True, inplace=True)
popDf.columns = ['지역', '인구수']
popDf

               지역     인구수
0       서울특별시 종로구  161521
1        서울특별시 중구  128478
2       서울특별시 용산구  227282
3       서울특별시 성동구  295006
4       서울특별시 광진구  368199
..            ...     ...
224      경상남도 함양군   38454
225      경상남도 거창군   60464
226      경상남도 합천군   44797
227   제주특별자치도 제주시  451758
228  제주특별자치도 서귀포시  153861

[229 rows x 2 columns]

In [214]:
def population(location):
    population = int(popDf.loc[popDf['지역']
                     == location, '인구수'].iloc[0])
    print("%d입니다." % population)
    return (population)


locate = '서울특별시 강남구'
population(locate)

541688입니다.

541688

In [215]:
merged_df = pd.merge(popDf, beds_df, on='지역',how='outer')
merged_df

               지역     인구수     병상수
0       서울특별시 종로구  161521  2649.0
1        서울특별시 중구  128478   874.0
2       서울특별시 용산구  227282   638.0
3       서울특별시 성동구  295006   744.0
4       서울특별시 광진구  368199  1001.0
..            ...     ...     ...
224      경상남도 함양군   38454     NaN
225      경상남도 거창군   60464     NaN
226      경상남도 합천군   44797     NaN
227   제주특별자치도 제주시  451758  1847.0
228  제주특별자치도 서귀포시  153861   206.0

[229 rows x 3 columns]

In [216]:
merged_df = pd.merge(merged_df, hospital_df, on='지역',how='outer')
merged_df

               지역     인구수     병상수  종합병원수
0       서울특별시 종로구  161521  2649.0    4.0
1        서울특별시 중구  128478   874.0    3.0
2       서울특별시 용산구  227282   638.0    1.0
3       서울특별시 성동구  295006   744.0    1.0
4       서울특별시 광진구  368199  1001.0    2.0
..            ...     ...     ...    ...
224      경상남도 함양군   38454     NaN    NaN
225      경상남도 거창군   60464     NaN    NaN
226      경상남도 합천군   44797     NaN    NaN
227   제주특별자치도 제주시  451758  1847.0    6.0
228  제주특별자치도 서귀포시  153861   206.0    1.0

[229 rows x 4 columns]

In [217]:
merged_df = pd.merge(merged_df, dead_df, on='지역',how='outer')
merged_df

               지역     인구수     병상수  종합병원수 사망자 수
0       서울특별시 종로구  161521  2649.0    4.0   829
1        서울특별시 중구  128478   874.0    3.0   689
2       서울특별시 용산구  227282   638.0    1.0  1113
3       서울특별시 성동구  295006   744.0    1.0  1244
4       서울특별시 광진구  368199  1001.0    2.0  1472
..            ...     ...     ...    ...   ...
224      경상남도 함양군   38454     NaN    NaN   494
225      경상남도 거창군   60464     NaN    NaN   670
226      경상남도 합천군   44797     NaN    NaN   726
227   제주특별자치도 제주시  451758  1847.0    6.0  2264
228  제주특별자치도 서귀포시  153861   206.0    1.0  1075

[229 rows x 5 columns]

In [218]:
merged_df = pd.merge(merged_df, doctor_df, on='지역',how='outer')
merged_df.fillna(0,inplace=True)

In [219]:

merged_df['인구수']=merged_df['인구수'].astype(int)
merged_df['병상수'] = merged_df['병상수'].astype(int)
merged_df['종합병원수'] = merged_df['종합병원수'].astype(int)
merged_df['의사'] = merged_df['의사'].astype(int)
merged_df['사망자 수'] = merged_df['사망자 수'].astype(int)

merged_df

               지역     인구수   병상수  종합병원수  사망자 수    의사
0       서울특별시 종로구  161521  2649      4    829  2003
1        서울특별시 중구  128478   874      3    689   483
2       서울특별시 용산구  227282   638      1   1113   337
3       서울특별시 성동구  295006   744      1   1244   459
4       서울특별시 광진구  368199  1001      2   1472   478
..            ...     ...   ...    ...    ...   ...
224      경상남도 함양군   38454     0      0    494     0
225      경상남도 거창군   60464     0      0    670     0
226      경상남도 합천군   44797     0      0    726     0
227   제주특별자치도 제주시  451758  1847      6   2264   449
228  제주특별자치도 서귀포시  153861   206      1   1075    31

[229 rows x 6 columns]

In [220]:
merged_df['병상/인구수']=merged_df['병상수']/merged_df['인구수']
merged_df['종합병원/인구']=merged_df['종합병원수']/merged_df['인구수']
merged_df['의사/인구']=merged_df['의사']/merged_df['인구수']
merged_df['사망자
          /인구']=merged_df['사망자 수']/merged_df['인구수']

merged_df

,지역,인구수,병상수,종합병원수,사망자 수,의사,병상/인구수,종합병원/인구,의사/인구,사망자/인구
0,서울특별시 종로구,161521,2649,4,829,2003,0.016400,0.000025,0.012401,0.005132
1,서울특별시 중구,128478,874,3,689,483,0.006803,0.000023,0.003759,0.005363
2,서울특별시 용산구,227282,638,1,1113,337,0.002807,0.000004,0.001483,0.004897
3,서울특별시 성동구,295006,744,1,1244,459,0.002522,0.000003,0.001556,0.004217
4,서울특별시 광진구,368199,1001,2,1472,478,0.002719,0.000005,0.001298,0.003998
...,...,...,...,...,...,...,...,...,...,...
224,경상남도 함양군,38454,0,0,494,0,0.000000,0.000000,0.000000,0.012847
225,경상남도 거창군,60464,0,0,670,0,0.000000,0.000000,0.000000,0.011081
226,경상남도 합천군,44797,0,0,726,0,0.000000,0.000000,0.000000,0.016206
227,제주특별자치도 제주시,451758,1847,6,2264,449,0.004088,0.000013,0.000994,0.005012
228,제주특별자치도 서귀포시,153861,206,1,1075,31,0.001339,0.000006,0.000201,0.006987